<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Player Chess Game</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
<div class="mainBg w-full h-screen flex justify-center items-center">
    <div class="Form flex flex-col justify-center items-center w-96 h-96 bg-white rounded-bl-lg rounded-tl-lg p-7">
        <div class="mainForm flex flex-col items-center justify-center bg-black bg-opacity-70 p-0 rounded-lg">
            <form class = "flex flex-col justify-center" autocomplete= "off" method="post" action="/">
                <h1 class="text-2xl text-white m-8">Enter your name</h1>
                <input autofocus type="text" id = "username" name="username" placeholder="Username" 
                 class="w-full mb-4 p-3 text-black rounded focus:outline-none focus:ring-2 focus:ring-green-500">
                <button class="w-full p-3 border-2 border-green-500 text-green-500 rounded hover:bg-green-500 hover:text-white transition duration-300" type="submit">Play</button>
            </form>
        </div>
    </div>
    <div class="flex justify-center items-center h-80 sm:w-96 sm:h-96 bg-zinc-800 rounded-tr-lg rounded-br-lg overflow-y-auto">
        <img src="/elo450-high-resolution-logo-white-transparent.png" alt="Game Logo">
    </div>
</div>
<script src="/JS/homepage.js" type = "module"></script>
</body>
</html>